span.features-item-list span {
  background: #eee;
  border-radius: 5px;
  margin-right: 5px;
  padding: 2px 5px;
  white-space: nowrap;
}

.features-listing td {
  vertical-align: top;
}

.features-listing td.feature-name {
  font-size: 14px;
  white-space: nowrap;
}

.features-listing td details {
  border: 0;
  margin: 0;
  height: 20px;
}

.features-listing details[open] {
  height: auto;
  overflow: visible;
  white-space: normal;
}

.features-listing td summary {
  padding: 0;
  text-transform: none;
  font-weight: normal;
}

.features-listing td .features-item-label {
  font-weight: bold;
}
