{#
/**
* @file
* Default theme implementation for a package assignment configuration form.
*
* Available variables:
* - table: A draggable table for the package assignment methods.
* - attributes: A list of HTML attributes for the wrapper element.
* - children: Remaining form items.
*
* @see template_preprocess_features_assignment_configure_form()
*
* @ingroup themeable
*/
#}
{%
  set wrapper_classes = [
    'form-item',
    'table-wrapper',
  ]
%}
<div{{ attributes.addClass(wrapper_classes) }}>
  {{ table }}
  {{ children }}
</div>
